
.split {
	height: 1px;
	border-top: 1px dashed #ececec;
	margin: 5px 0px 15px 0px;
}
.clear_margin_bottom {
	margin-bottom: 0px;
}
.clear_margin_top {
	margin-top: 0px;
}
.clear_margin_left {
	margin-left: 0px;
}
.clear_margin_right {
	margin-right: 0px;
}
.bg_green {
	background: #5cb85c !important;
}
.bg_red {
	background: #d9534f !important;
}
.follow-list {
	padding-left: 0px;
	margin-bottom: 20px;
	margin-left: 2px;
}
.follow-list li {
	display: block;
	float: left;
	background-image: url("../img/follow_pic0.png");
	width: 185px;
	height: 40px;
	margin-right: 10px;
	text-align: center;
	line-height: 40px;
}
.follow-list .active {
	background-image: url("../img/follow_pic1.png");
	color: #FFFFFF;
}
.nav_content {
	border: 1px solid #dddddd;
	border-top: 0px;
	padding: 20px;
	margin-bottom: 20px;
}
